$letter-spacing: 0.125rem;
$transition: all 150ms ease-in-out;
$linkTransition: all 300ms ease-in-out;

// //Colors
// $earieBlack: #0b090a;
// $gunMetal: #161a1d;
// $darkGray: #495158;
// $gray: #a9b0b8;
// // $lightGray: #ff0000;
// $mintCream: #f4fff8;
// $starCommandBlue: #0891e6;
// $fuzzyWuzzy: #d16666;

//Colors
$earieBlack: #f1fffa; //background
$gunMetal: #011627; //blocks
$header: #f1fffa; //banner text
$starCommandBlue: #3fa7d6; //accent/buttons
$fuzzyWuzzy: #d16666;
$mintCream: #011627; //headings
$subHeadings: #011627; //headings
$gray: #011627; //paragraphs
$lightGray: hsl(199, 65%, 85%); //paragraphs
$darkGray: hsl(200, 65%, 35%); //fixed link
// $lightGray: #ff0000;

$font-sm: 1.15rem;
$font-md: 1.45rem;
$font-lg: 3rem;
$font-xlg: 5.5rem;
